/*Global design*/
body {
  background-color: #c1cad6;
  padding: 50px;
  color: #6c6ea0;

}

/*Home page*/
h1 {
  text-align:center;
}

/*Language buttons*/
#suomi,
#english {
  width: 40px;
  height: 15px;
  border: 1px solid #6c6ea0;
  border-radius: 5px;
  background-color: white;
  color: #6c6ea0;
  padding: 5px;
  margin-left: 30px;
}

#games-button,
#order-button,
#about-button,
#contact-button {
  padding: 20px;
  margin-top: 20px;
  font-size: 35px;
  border-radius: 30px;
  border-color: #6c6ea0;
  color: #6c6ea0;
}

/*footer*/
footer {
  text-align: center;
  margin-top: 10px;
}

.center {
display: block;
margin-left: auto;
margin-right: auto;
}

/*Order a therapist*/

#submit {
  border-radius: 30px;
  color: #c1cad6;
  background-color: #6c6ea0;
  margin-top: 20px;
  width: 200px;
}

.col-form-label {
  font-size: 20px;
}

.form-control {
  border-radius: 30px;
}

/*Back button*/

#circle {
  background-color: #6c6ea0;
  text-decoration: none;
  border-radius: 50px;
  display: block;
  height: 100px;
  width: 100px;
  text-align: center;
}

/* .row {
  width: 80%;
  margin: 0 auto;
} */

span {
  content: "\02190";
  color: white;
  margin: 0px;
  font-size: 65px;
  padding: 0px;
}
/*About us*/

h2 {
  text-align: center;
}

#about1,
#about2 {
  background: white;
  border-radius: 30px;
  height: 250px;
  padding: 20px;
  border: 1px solid #6c6ea0;
  line-height: 1.6;
}

/*GAMES*/

.listening, .reading, .spelling, .memory {
  margin-left: 80px;;
  width: 60px;
  height: 60px;
}

#listening-button,
#reading-button,
#spelling-button,
#memory-button {
  padding: 5px;
  margin-top: 4px;
  font-size: 25px;
  border-radius: 30px;
  border-color: #6c6ea0;
  color: #6c6ea0;
  font-weight: bold;
}


/*CONTACT US*/

.contactus {
  margin-left: 50px;;
  width: 60px;
  height: 60px;
}

#map {
  background-color: white;
  width: 800px;
  height: 450px;
  depth: 80px;
  padding: 10px;
  margin-top: 20px;
  border-radius: 25px;
  margin-left: 230px;
  border:  1px solid #6C6EA0;
}

.ggmap {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 50px;
  height: 0;
  overflow: hidden;
  padding-left: 30px;
}

.ggmap iframe,
.ggmap object,
.ggmap embed {
  position: absolute;
  top: 30;
  left: 20;
  width: 50%;
  height: 50%;
}

.contactinfo {
  margin-left: 450px;
}


/*Listening games*/

#game1,
#game2,
#game3 {
  border-radius: 30px;
  height: 250px;
  width: 280px;
  margin-top: 20px;
  color: #6C6EA0;
  border: 1px solid #6C6EA0;
  font-size: 30px;
}

/*Reading games*/

#game4,
#game5,
#game6 {
  width: 280px;
  height: 250px;
  border-radius: 30px;
  border: 1px solid #6C6EA0;
  color: #6C6EA0;
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
  word-wrap: break-word;
  white-space: normal;
}

/*Spelling games*/

#game7,
#game8,
#game9 {
  border-radius: 30px;
  height: 250px;
  width: 280px;
  margin-top: 20px;
  color: #6C6EA0;
  border: 1px solid #6C6EA0;
  font-size: 30px;
}

/*Memory games*/

#game10,
#game11,
#game12 {
  border-radius: 30px;
  height: 250px;
  width: 280px;
  margin-top: 20px;
  color: #6C6EA0;
  border: 1px solid #6C6EA0;
  font-size: 30px;
  padding:90px 5px 10px 5px;
}
